@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
a{
    padding: 20px;

    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgb(149, 221, 193) !important;
}
i{
    font-size: 40px;
    margin: 10px;
}
#fb{
    color: rgb(16, 96, 187);
}
#glge{
    color: rgb(233, 20, 226);
}
main{
    background-color: rgb(82, 183, 231);
    padding: 10%;
}
